# Dependencies
node_modules/

# Local Netlify folder
.netlify/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# Local data
server/streamStore.json
